h1 {
  font-family: 'Frijole', Helvetica, sans-serif;
  font-size: 4rem;
  margin: -.75rem auto;
  text-align: center;
  color: rgb(144,64,0);
}

.click-catcher {
  position: fixed;
  top: 5rem;
  left: 50%;
  margin-left: -300px;
  z-index: 2;
  width: 600;
  height: 600;
}

.instructions {
  font-family: Helvetica, sans-serif;
  position: fixed;
  top: 7rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic; 
  left: 50%;
  margin-left: 320px;
  color: rgb(104,34,0);
}
